*.avi
*.mp4
*.pt
*.pth
*.pyc
*.jpg
*.onnx
*.pkl
*.log
*.int
*.h5
/insight-face
/pytorch-model
.vscode
insight-face/mmdet/models/dense_heads/__pycache__/
insight-face/mmdet.egg-info/SOURCES.txt
insight-face/mmdet.egg-info/PKG-INFO