-r requirements/build.txt
-r requirements/optional.txt
-r requirements/runtime.txt
-r requirements/tests.txt

# ha version pytorch
# link https://pytorch.org/get-started/previous-versions/
# CUDA_VISIBLE_DEVICES=0 python -u tools/test_widerface.py ./configs/scrfd/scrfd_2.5g.py ./work_dirs/scrfd_2.5g/model.pth --mode 0 --out wouts


